In [1]:
import pandas as pd
import numpy as np
import csv
import os
import Recommenders as Recommenders

In [11]:
song_df_1 = pd.read_csv("C:/Users/LAXMI/Downloads/song_data.csv/song_data.csv")
song_df_1.head()

,song_id,title,release,artist_name,year
0,SOQMMHC12AB0180CB8,Silent Night,Monster Ballads X-Mas,Faster Pussy cat,2003
1,SOVFVAK12A8C1350D9,Tanssi vaan,Karkuteillä,Karkkiautomaatti,1995
2,SOGTUKN12AB017F4F1,No One Could Ever,Butter,Hudson Mohawke,2006
3,SOBNYVR12A8C13558C,Si Vos Querés,De Culo,Yerba Brava,2003
4,SOHSBXH12A8C13B0DF,Tangle Of Aspens,Rene Ablaze Presents Winter Sessions,Der Mystic,0

In [13]:
song_df_2 = pd.read_csv("C:/Users/LAXMI/Favorites/triplets_file.csv")
song_df_2.head()

                                    user_id             song_id  listen_count
0  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOAKIMP12A8C130995             1
1  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBBMDR12A8C13253B             2
2  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBXHDL12A81C204C0             1
3  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBYHAJ12A6701BF1D             1
4  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SODACBL12A8C13C273             1

In [14]:
# combine both data
song_df = pd.merge(song_df_1, song_df_2.drop_duplicates(['song_id']), on='song_id', how='left')
song_df.head()

,song_id,title,release,artist_name,year,user_id,listen_count
0,SOQMMHC12AB0180CB8,Silent Night,Monster Ballads X-Mas,Faster Pussy cat,2003,NaN,NaN
1,SOVFVAK12A8C1350D9,Tanssi vaan,Karkuteillä,Karkkiautomaatti,1995,NaN,NaN
2,SOGTUKN12AB017F4F1,No One Could Ever,Butter,Hudson Mohawke,2006,NaN,NaN
3,SOBNYVR12A8C13558C,Si Vos Querés,De Culo,Yerba Brava,2003,NaN,NaN
4,SOHSBXH12A8C13B0DF,Tangle Of Aspens,Rene Ablaze Presents Winter Sessions,Der Mystic,0,NaN,NaN

In [15]:
print(len(song_df_1), len(song_df_2))

1000000 2000000

In [16]:
len(song_df)

1000000

In [17]:
# creating new feature combining title and artist name
song_df['song'] = song_df['title']+' - '+song_df['artist_name']
song_df.head()

,song_id,title,release,artist_name,year,user_id,listen_count,song
0,SOQMMHC12AB0180CB8,Silent Night,Monster Ballads X-Mas,Faster Pussy cat,2003,NaN,NaN,Silent Night - Faster Pussy cat
1,SOVFVAK12A8C1350D9,Tanssi vaan,Karkuteillä,Karkkiautomaatti,1995,NaN,NaN,Tanssi vaan - Karkkiautomaatti
2,SOGTUKN12AB017F4F1,No One Could Ever,Butter,Hudson Mohawke,2006,NaN,NaN,No One Could Ever - Hudson Mohawke
3,SOBNYVR12A8C13558C,Si Vos Querés,De Culo,Yerba Brava,2003,NaN,NaN,Si Vos Querés - Yerba Brava
4,SOHSBXH12A8C13B0DF,Tangle Of Aspens,Rene Ablaze Presents Winter Sessions,Der Mystic,0,NaN,NaN,Tangle Of Aspens - Der Mystic

In [18]:
# taking top 10k samples for quick results
song_df = song_df.head(10000)

In [19]:
# cummulative sum of listen count of the songs
song_grouped = song_df.groupby(['song']).agg({'listen_count':'count'}).reset_index()
song_grouped.head()

                                                song  listen_count
0   Falling In Love Again (l'ange Bleu) En Anglai...             0
1  'Geeft Niet_ Droogt Wel Weer Op' - Herman Finkers             0
2                  'Nfinu C'Agghionna - Mario Venuti             0
3                      'O 'nnammurato mio - Gloriana             0
4        (Brazen) Weep (Junior's Vocal) - Dee Robert             0

In [20]:
grouped_sum = song_grouped['listen_count'].sum()
song_grouped['percentage'] = (song_grouped['listen_count'] / grouped_sum ) * 100
song_grouped.sort_values(['listen_count', 'song'], ascending=[0,1])

,song,listen_count,percentage
146,A Dream - Rebecka Törnqvist,1,0.961538
339,Alcohol - Gogol Bordello,1,0.961538
372,All Men Are Liars - Nick Lowe,1,0.961538
410,Alley Oop (Girls Version) (2007 Digital Remast...,1,0.961538
439,Amazing - Seal,1,0.961538
...,...,...,...
9985,Étnico Ma Non Troppo - Hevia,0,0.000000
9986,Ó Gente Da Minha Terra (Live) - Mariza,0,0.000000
9987,Ó há-de Maria_ Ó há-de tão bela - Varios,0,0.000000
9988,Özgür Çiçek - Nazan Öncel,0,0.000000
9989,Überau du - Kisha,0,0.000000

In [21]:
pr = Recommenders.popularity_recommender_py()

In [22]:
pr.create(song_df, 'user_id', 'song')

In [23]:
# display the top 10 popular songs
pr.recommend(song_df['user_id'][5])

      user_id                                               song  score  Rank
146       NaN                        A Dream - Rebecka Törnqvist      1   1.0
339       NaN                           Alcohol - Gogol Bordello      1   2.0
372       NaN                      All Men Are Liars - Nick Lowe      1   3.0
410       NaN  Alley Oop (Girls Version) (2007 Digital Remast...      1   4.0
439       NaN                                     Amazing - Seal      1   5.0
538       NaN    Anyone Else But You - Michael Cera & Ellen Page      1   6.0
606       NaN                            Astronaut - Beach House      1   7.0
911       NaN  Big Yellow Taxi - Counting Crows / Vanessa Car...      1   8.0
1039      NaN  Bonnie And Clyde - Brigitte Bardot / Serge Gai...      1   9.0
1150      NaN    Bullet Tells The Truth - Harry Gregson-Williams      1  10.0

In [24]:
pr.recommend(song_df['user_id'][100])

      user_id                                               song  score  Rank
146       NaN                        A Dream - Rebecka Törnqvist      1   1.0
339       NaN                           Alcohol - Gogol Bordello      1   2.0
372       NaN                      All Men Are Liars - Nick Lowe      1   3.0
410       NaN  Alley Oop (Girls Version) (2007 Digital Remast...      1   4.0
439       NaN                                     Amazing - Seal      1   5.0
538       NaN    Anyone Else But You - Michael Cera & Ellen Page      1   6.0
606       NaN                            Astronaut - Beach House      1   7.0
911       NaN  Big Yellow Taxi - Counting Crows / Vanessa Car...      1   8.0
1039      NaN  Bonnie And Clyde - Brigitte Bardot / Serge Gai...      1   9.0
1150      NaN    Bullet Tells The Truth - Harry Gregson-Williams      1  10.0

In [25]:
ir = Recommenders.item_similarity_recommender_py()
ir.create(song_df, 'user_id', 'song')

In [26]:
user_items = ir.get_user_items(song_df['user_id'][5])

In [27]:
# display user songs history
for user_item in user_items:
    print(user_item)

In [29]:
# give related songs based on the words
ir.get_similar_items(['Oliver James - Fleet Foxes', 'The End - Pearl Jam'])

no. of unique songs in the training set: 9990
Non zero values in cooccurence_matrix :0

  user_id                                               song  score  rank
0                           Little Drummer Boy - Nat Stuckey    0.0     1
1                          What Am I Gonna Do - Kenny Rogers    0.0     2
2                  Never Hold A Candle To Love - Andrew Gold    0.0     3
3                        There Goes My Heart - THE INK SPOTS    0.0     4
4                              Niewinni I Ja Cz.I_ II - Dzem    0.0     5
5                                  Severed Angel - Zero Hour    0.0     6
6                Canta coração (Canta corazon) - Marco Paulo    0.0     7
7          Drilla Ape - Infinite Livez feat. Barry Convex...    0.0     8
8               God Don't Need No Matches - Rev. James Moore    0.0     9
9                                       No One - Alicia Keys    0.0    10